# TRAIN SCRIPT
DATA_PATH=train_data/data.yaml
MODEL_NAME=yolo12n
EPOCHS=25,50
DEVICE=cuda
PROJECT_NAME=wakfu_farming
IMGZ=640 # Must be multiple of 32
BATCH_SIZE=4

# TEST SCRIPT
MODEL_PATH=runs/detect/wakfu_farming/yolo12n-50_epochs800/weights/best.pt
TEST_PATH=train_data/test